/* For selection */
::selection {
    background-color: #374d86;
    color: #fff;
}

.mega-menu {
    box-shadow: 0px 0px 2px 0px #c1c1c1;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) !important;
    -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* For selection ends */

/* For header of the navigation bar */

.top-header{
    padding:5px 0;
    }
    
    
    .logo img {
        margin-top: 22px;
    }
    
    
    .main-menu > ul > li.active > a {
        color: #374d86;
        font-weight: bolder;
    }

    .main-menu ul li.active ul li.active {
        background: #1590c5;
    }

    .main-menu ul li.active ul li.active a {
        color: #fff;
    }
    
    .step-preloader-rapper .progress {
        background: rgba(55, 77, 134, 0.8);
    }
    
    .progress .determinate, .progress .indeterminate {
        background-color: #fab747 !important;
    }

    #scrollUp::after {
        background: #1590c5;
    }
    
    .step-preloader-rapper .progress .indeterminate::after, .step-preloader-rapper .progress .indeterminate::before{
        background-color: #1590c5;
    }
    
    .main-menu > ul > li:hover > a {
        color: #374d86 !important;
    }
    
    .main-menu > ul > li.has-child > ul.sub-menu > li:hover > a, .main-menu > ul > li.has-child > ul.sub-menu > li > ul.menu-sub li:hover a {
        color: #374d86;
    }
    
    .main-menu > ul > li.has-child > ul.sub-menu {
        border-top: 3px solid #0c8dc4;
        border-bottom: 3px solid #f9b137;    
    }
    
    .main-menu > ul > li.has-child > ul.sub-menu > li:after, .main-menu > ul > li.has-child > ul.sub-menu > li > ul.menu-sub li:after{
        background: rgb(14, 139, 193);
    }

    .main-menu ul li a{
        padding: 7px 9px !important;
    }

    .step-header.home-three {
        padding: 10px 0;
        background: #fff;
    }

    .top-home-two-social-link.home-three ul li a {
        color: #000;
    }

    .offcanvas-menu-bar a span{
        background: #0e0e0e;
    }

    .menu-click.cg span:nth-child(1) {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
        width: 26px;
        margin-top:5px;
    }

    .menu-click.cg span:nth-child(4) {
        -webkit-transform: rotate(-128deg);
        -moz-transform: rotate(-128deg);
        -ms-transform: rotate(-128deg);
        -o-transform: rotate(-128deg);
        transform: rotate(-128deg);
        margin-top: -13px;
    }

    .top-home-two-social-link.home-three ul li:last-child a::after{
        background: #000 none repeat scroll 0 0;
    }

    /* hover on li a font change color */
    .main-menu > ul > li:hover > a{
        color: #0c8dc4 !important;
    }


    /* hover on dropdown menu appearance below   */
    .main-menu > ul > li.has-child:hover > ul.sub-menu{
        top:141%;
    }

    .main-menu {
        float: right !important;
    }

    .menu-click.cg span {
        background: #0c8dc4 !important;
    }

    .main-menu > ul > li:hover:before{opacity:0;}
    
    .main-menu > ul > li:hover:after{opacity:0;}

    /* mega menu dropdown alignment and adjustment */
    .main-menu > ul > li.has-child:hover > ul.mega-menu{
        top: 141%;
    }

    .main-menu > ul > li.has-child > ul.mega-menu{
        border-top: 3px solid #0c8dc4;
        border-bottom: 3px solid #f9b43f;
    }


    /* color of a tag on hover */
    .main-menu > ul > li.has-child > ul.mega-menu > li > a:hover {
        color: #374d86;
    }

    .label-primary {
        background: #fab747;
    }

    .clr-span {
        color: #0c8dc4;
    }


    /* sub to sub menu customize */

    .main-menu > ul > li.has-child > ul.sub-menu > li > ul.menu-sub{
        
    border-top: 3px solid #0c8dc4;
    border-bottom: 3px solid #f9b137;
    }

    .home3-offcanvas-menu-rapper{
        z-index:10000;
        top: 0 !important;
    }
    .offcanvas-overlay.active{
        z-index:9999;
    }
    .step-header.home-three{
        z-index: 9998;
        /* new changes */
        position: relative;
        top:0;     
    }

    .step-header.home-three.sticky{
        box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        position: fixed;
    }

    .offcanvas-overlay{
        background: #ffffff none repeat scroll 0 0;
        top:0;
    }

    .btn, .btn-large{
        background-color: #1590c5;
    }

    .btn-large:hover, .btn:hover {
        background-color: #f9ab26;
    }

    .btn-floating:focus, .btn-large:focus, .btn:focus {
        background-color: #374d86;
    }

    .search-rapper-step.active{
        background: #1590c5;
    }

/* social icons color on hover */
    .top-home-two-social-link.home-three ul li a i:hover {
        color: #1590c5;
    }
    
    .btn-mr, .btn-mr-2, .my-accoount button{
        background: #1590c5;
    }

    .main-menu > ul > li.active:after{
        right: 0px;
    }

    .main-menu > ul > li:after{
        bottom: -7px;
    }

    .demobtn:hover{
        background: #fab857
    }



    /* SECTION 3 SERVICE GIST CSS */

    .home-3-single-services::after{
        border: 1px solid #374d86;
    }
    .home-3-single-services i.fa{
        color: #374d86;
    }

    .home-3-single-services:hover{
        background: #1590c5;
    }

    .main-menu > ul > li.has-child > ul.mega-menu.service-mm{    
        /* left: -291px; */
        left: -57rem;
    width: 1300px;
    max-height: 400px;
    overflow: auto;
}

.main-menu > ul > li.has-child > ul.mega-menu.solution-mm{    
    /* left: -423px; */
    left: -390%;
}

.main-menu > ul > li.has-child > ul.mega-menu.support-mm{
    left: -580%;
}

.main-menu > ul > li.has-child > ul.mega-menu > li{
    width: 200px;
    border-right: none;
}

.main-menu > ul > li.has-child > ul.mega-menu > li:nth-child(3),.main-menu > ul > li.has-child > ul.mega-menu > li:nth-child(5){
    border-left: 1px dotted #ccc;
}


h1, h2, h3, h4, h5, h6{
    margin:7px;
}

.main-menu > ul > li.has-child > ul.mega-menu li a{
font-size:12px;
}

.main-menu ul li a {
    font-size: 13px;
}

.d-res-none{
    display: none;
}

/* Social icon css starts*/
.top-home-two-social-link.home-three ul li:last-child a::after{
    display: none !important;
}

/* .top-home-two-social-link.home-three ul li:last-child a{
    margin-left:0px !important;
} */

.top-home-two-social-link ul li a{
    margin: auto 4px;
}


.top-home-two-social-link ul li a.btn.tooltipped {
    margin: 1px 3px;
    padding: 9px 9px;
    line-height: 1;
    border:none;
    height: auto;
}

.top-home-two-social-link.home-three ul li:last-child a{
    margin-left: 4px;
    position: inherit;
}

/* Social icon css ends */

.mega-menu a:hover {
    color: #bf7b07;
}

#scrollUp {
    background: #1590c5;}



/* Offcampus menu extra settings */

.offcampus-extras {
    position: absolute;
    top: 65%;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
}

.offcampus-extras img.makeinindia{
    width: 100px;
    height: 80px;
}
.offcampus-extras img.swachh_bharat {
    width: 124px;
    height: 49px;
    margin-left: -30px;
    margin-top: 18px;
}

img.betibachao{
    width: 60px;
    height: 60px;
    margin-right:10px;
}

img.gogreen {
    width: 85px;
    height: 50px;
    margin-top: 10px;
    margin-right: 38px;
}

.offcanvas-menu{
    top: 40%;
    max-height: 400px;
    overflow: auto;
}

.offcampus-extras .title{
    color:#2fadb9;
    font-size:20px;
}


/*Slider Section Starts */

.myslider .slide-content2 h2 {
    font-size: 50px;
}

/*Slider Section ends*/



/* Service Section starts */
.section-pading {
    padding: 50px 0 100px;
}



.sec-bar-2::before{
    left:32px !important;
    background: #1590c5;
}

.sec-bar-2::after{
    background: #fab747;    
}

.top_services .section-heading2  {
    text-align: center;
}
/* .top_services .section-heading2 .sec-bar-2 {
    left: 40%;
} */
.step-single-services.hilight {
    background: #1590c5;;
}

.step-single-services:hover{
    background: #1590c5;
}

.step-services.services-page .step-single-services i.fa {
    color: #1590c5;;
}
/* Service section ends */


/* About us Section starts*/
.about-img.change-bg {
    background: url(../images/section-img/we.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    height: 540px;
}

div#about-us {
    /* padding: 100px 0px 60px; */
    position: relative;
    background: url(../images/section-img/parallax-bg-06.jpg) no-repeat center 0%;
    background-size: cover;
    background-attachment: fixed;
}

.mission-list li i.fa {
    color: #fab747;
    padding-right: 10px;
}

.step-home-page-about .big-spacer{
    height: 25px;
}

.step-home-page-about .mission-list h3{
    margin-bottom: 15px;
}
/* About us section ends*/

/* Industries section start */
.industries-section {
    padding: 60px 0 0px;
}

.evenet-gallery-active .owl-nav div{
    border: 1px solid #fab747;
    background: #1590c5;    
}
.evenet-gallery-active .owl-nav div:hover{
    border: 1px solid #3e3e40;
    color:#374d86;
}


.industries-section .industry_name{
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 10%;
    color: white;
    font-size: 20px;
    z-index: 9;
}

.single-gallery-step {
    border: 0.5px solid #cccc;
}

.single-gallery-step::after{
    background: #374d86;
}


li.single-gallery-step:hover span.industry_name {
    color: #cbf39f;
    font-size: 25px;
    transition: font-size 0.5s ease-in-out;
}

li.single-gallery-step span.industry_name {
    transition: font-size 0.4s ease-out;
}

li.single-gallery-step:hover .gallery-view a i {
    color: #fff;
    font-size: 30px;
    transition: font-size 0.5s ease-in-out;
}

li.single-gallery-step:hover .gallery-view a i:hover {
    color: #fab757;
    transition: font-size 0.5s ease-in-out;
}


a#scrollUp:hover {
    background: #fab747;
}

a#scrollUp:hover::after {
    background: #fab747;
}

.single-gallery-step{
    width: 20%;
}

.mfp-container{
    background: #000;
}

.industries-section .step-gallery ul li.single-gallery-step .gallery-view a:nth-child(2):hover span{
    color: #fab757;
}

/* Industries section ends */


/* Process Section starts */
.process-section{
    padding: 50px 0 40px !important;
}
.process-section body {
    font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
  }
  
  .process-section #timeline {
    display: flex;
    background-color: #031625;
  }
  .process-section #timeline:hover .tl-item {
    width: 23.3333%;
  }
  
  .process-section .tl-item {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 60vh;
    min-height: 400px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
  }
  .process-section .tl-item:before, .tl-item:after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .process-section .tl-item:after {
    background: rgba(3, 22, 37, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  .process-section .tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
    z-index: 1;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) translateY(50%);
            transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .process-section .tl-item:hover {
    width: 30% !important;
  }
  .process-section .tl-item:hover:after {
    opacity: 0;
  }
  .process-section .tl-item:hover:before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translateY(0);
            transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
    transition: opacity 1s ease, transform 1s ease 0.25s;
    transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
  }
  .process-section .tl-item:hover .tl-content {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transition: all 0.75s ease 0.5s;
  }
  .process-section .tl-item:hover .tl-bg {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  
  .process-section .tl-content {
    -webkit-transform: translate3d(0, 0, 0) translateY(25px);
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 33%;
    opacity: 0;
  }
  .process-section .tl-content h1 {
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #f9ab26;
    font-size: 1.44rem;
    font-weight: normal;
  }
  
  .process-section .tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .process-section .tl-year p {
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.728rem;
    line-height: 0;
    font-weight: bolder;
  }
  
  .process-section .tl-bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: -webkit-filter 0.5s ease;
    transition: filter 0.5s ease;
    transition: filter 0.5s ease, -webkit-filter 0.5s ease;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }

  .process-section .section-heading2{
      margin-bottom:40px;
  }
  .process-section .section-title {
    margin-bottom: 20px;
}

.process-section .tl-year{
    top: 18%;
}

.process-section #timeline .tl-item:hover .tl-year{
    border-top: none;
}
  
/* Process Section ends */


/* Pricing section starts */
.pricing-section {
    padding: 0 !important;
}

.pricing-section .price-header{
    background: #1590c5;
}

.pricing-section .head-clr {
    color: #1590c5;
}

.pricing-section .price-a:hover {
    border: 1px solid #fab747;
    color: #fff;
    background: #fab746;
}
/* Pricing section ends */


/*  */
.parallax-section {
    padding: 0 0 50px !important;
}

.parallax-section .single-counter.home-two .counter-rapper::before{
    background: #1590c5;
}

.parallax-section .single-counter.home-two .counter-rapper::after{
    background: #1590c5;
}

.parallax-section .block{
    width: 100%;
    min-height: 350px;
    max-height: 400px;
    position: relative;
    overflow: hidden;
    font-size: 16px;
  }
  .parallax-section .block .counter-table{
    position: absolute;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10vw;
    color: white;
    font-weight: 400;
  }
  .parallax-section .img-parallax {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events: none
  }

 .parallax-section span.counter-text {
    font-weight: bolder;
}
/* paralax sect ends */
/* partner section starts */
.partners{
    padding:20px 0 70px;
}
.partners .our-single-services.largem{
    background: #1590c5;
}

.partners .our-service-icon i.fa {
    color: #1590c5;
}

.partners .section-heading2{
    text-align:center;
}
.partners .our-single-services.largem a {
    position: relative;
    z-index: 9;
}

.partners .our-service-icon img {
    margin-top: 30%;
    width: 55px;
    height: 55px;
}

.partners .our-service-icon img~h5 {
    margin-top: 20px !important;
}
/* partner section ends */

/* Clien Testimonials start */
.testimonials .events-carosel-acitve .owl-nav div{
    border: 1px solid #1590c5;
    background: #1590c5;
}

.testimonials .events-carosel-acitve .owl-nav div:hover{
    border: 1px solid #fab757;
}

.testimonials .events-detilas-socilas ul li a:hover {
    border: 1px solid #1590c5;
    color: #1590c5;
}
/* Client Testimonials ends */



/* Photo stream sect starts */
.photo-stream{
    padding:50px 0 80px;
}

.photo-stream .single-team.home-two.home-three .tem-text-2{
    background: #1590c5;
}

.photo-stream .team-hover-rapper::after {
    background: #1590c5;
}

/* Photo stream sect ends */


/* SITSPL FOOTER Starts */
.step-main-footer {
    background: #fff none repeat scroll 0 0;
    padding-top: 65px;
    border-top: 4px solid #fab747;
}

.footer-bottom {
    background: #1590c5;
}

.quick-links li a:hover {
    color: #1590c5;
}

.single-footer .head-clr{
    color: #1590c5;
}

.sitspl-footer .mtb-30 {
    margin-bottom: 10px;
}

/* SITSPL FOOTER Ends */


/* ******************** INNER PAGES CSS starts*****************  */
/* page 1 starts */
#breadcrumb{
    /* margin-top: 65px;*/
    /* margin-bottom: 10px;  */

    background-color: #374d86;
}

#breadcrumb .breadcrumb{
    padding: 5px 10px;
    background-color: #374d86;
    font-size: 14px;
}

nav#breadcrumb .nav-wrapper{
    text-align:right;
}

#breadcrumb .breadcrumb:hover {
    color: #f9b33c;
}


.stpes-tags li a{
    font-size: 12px;
    letter-spacing: 0.4;
    padding: 1px 6px;
}

.stpes-tags li a:hover {
    background: #1590c5;
    color: #fff;
    border: 1px solid #374d86;
}

.quick-links li a:hover {
    padding-left: 8px;
}

.widget-heading{
    margin: 0 0 5px;
}

ul.quick-links li a {
    font-size: 13px;
}

/* page 1 ends */

.events-article h3 {
    border-bottom: none;
}

.events-article p{
    padding:10px;
}
.events-detilas-socilas {
    margin-bottom: 30px;
}

.head-clr {
    color: #1590c5;
}

h2.events-title {
    text-decoration: underline;
}

.event-tag.fa-color i.fa {
    color: #1590c5;
}

.events-detilas-socilas ul li a:hover {
    border: 1px solid #f9ab26;
    color: #fab94b;
}

.text-bold{
    font-weight: bold;
}

.price-a-2{
    background-image: linear-gradient(120deg,#374d86, #374d86 61%, #1590c5 61%, #1590c5 100%);
    width: 180px;
}

.list-cart-hover {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    border-top:none;
}

.mission-section .shop-list-left{
    float: right;
    
    padding-left: 0;
    padding-top: 0;
    width: 30%; 
}

.mission-section .shop-list-right{
    float: left; 
    width: 70%;  
    padding-right: 35px;
    padding-top: 39px; 
      
}

.shop-list-rapper:hover .shop-right-segment a h2, .shop-list-rapper:hover .shop-right-segment span, .shop-list-rapper:hover .list-cart-hover ul li a {
    color: #1590c5;
}

.shop-list-rapper:hover .list-cart-hover{
    border-color: #1590c5;
}

/* ERPSoftware Services Css Start */
.single-p-list img {
    filter: grayscale(100%);
}


.single-feature-product-step img {
    width: 100%;
    border-radius: 50%;
    transform: rotate(30deg);
}

.mt-5{
    margin-top:42px;
}

.mt-2{
    margin-top:20px;
}

.service-breadcrum{
    padding: 50px 0;
    background:none;
}

.service-showcase{
    padding-bottom:5px;
}

.single-counter-1 i.fa {
    font-size: 45px;
    color: #1590c5;
}
.single-counter-1{
    border-bottom: 4px solid #1590c5;
}

.services-boxes .single-counter-1{
    padding: 25px;
}

.services-boxes .text-move {
    float: none;
    overflow: hidden;
    text-align: left;
}

.mb-5{
    padding-bottom:60px;
}

.our-service-icon:hover {
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.14);
    transition: .5s;
}

.our-service-icon:hover h5 span{
    color:#1590c5;
}

.line-tab .nav-tabs > li.active > a, .line-tab .nav-tabs > li.active > a:focus, .line-tab .nav-tabs > li.active > a:hover, .line-tab .nav-tabs.nav-justified > .active > a, .line-tab .nav-tabs.nav-justified > .active > a:focus, .line-tab .nav-tabs.nav-justified > .active > a:hover{
    border-bottom: 1px solid #1590c5 !important;
}

.price-header {
    background: #374d86;
}
.price-body {
    padding: 20px;
}

img.activator{
    padding: 30px;
}

.card .card-image img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.text-center{
    text-align:center;
}

.projects-detials-active .owl-nav div, .portfolio-carosel-active .owl-nav div{
    border: 1px solid #374d86;
    background: #374d86;
}

.mx-auto{
    margin-left:auto;
    margin-right:auto;
}

.py-2{
    padding-top:20px;
    padding-bottom:20px;
}

.portfolio-carosel-active .owl-nav div:hover {
    background: #1590c5;
    color: #fff;
    border-color: #fab757;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color: #1590c5;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #fab757;
}

.card.sticky-action .card-image img {
    transition: all 0.23s ease-out;
}
.card.sticky-action:hover .card-image img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.25s ease-in;
}

.card.sticky-action:hover {
    box-shadow: 1px 1px 25px rgba(0,0,0,0.2);
    transform: scale(1);
}

h2.center.light-blue-text i {
    font-size: 45px;
    color: #1590c5;
}

.hover-content:hover{
    box-shadow: 1px 1px 25px rgba(0,0,0,0.2);
    transition:all 0.2s ease-in;
}
.hover-content{
    padding:10px;
}

.section1 {
    background-image: url(../images/section-img/section_bg.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.single_title {
    margin-bottom: 60px;
    text-transform: uppercase;
}

.p_100 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.single_title h2 {
    font-size: 32px;
    color: #242424;
}

.what_we_do_area .what_we_inner {
    margin-bottom: -50px;
}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.what_we_item {
    padding: 0px 20px;
}

.what_we_item .media {
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.what_we_item .media .d-flex {
    padding-right: 30px;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}


.media-body {
    -ms-flex: 1;
    flex: 1;
}

.what_we_item .media .media-body h4 {
    font-size: 20px;
    color: #242424;
    margin-bottom: 15px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.what_we_item .media .media-body p {
    margin-bottom: 0px;
}

.what_we_item .media {
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.what_we_item .media .d-flex {
    padding-right: 30px;
}

.what_we_item .media .d-flex i {
    line-height: 40px;
    color: #024ae6;
}

.what_we_item .media .d-flex i:before {
    font-size: 40px;
}

.what_we_item .media .media-body h4{
    font-weight: bold;
}

.what_we_item .media .media-body h4:hover {
    color: #024ae6;
}
.what_we_item .media .d-flex {
    padding-right: 30px;
}

.row.what_we_inner .col-lg-6:nth-child(6) .what_we_item .media,.row.what_we_inner .col-lg-6:nth-child(5) .what_we_item .media  {
    border-bottom: none;
}

/* Video part */
.left_inner_collection {
        padding: 80px 50px;
        text-align: center;
        background: #f1f1eb;
}

.inner_content {
    background: #ffffff;
    padding: 50px 30px;
    box-shadow: 0px 0px 20px rgba(179,179,179,0.51);
}

.left_inner_collection h5 {
    font-size: 16px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #252531;
    transition: all .8s;
    font-family: 'Poppins', sans-serif;
    color: #252531;
}



.left_inner_collection p {
    line-height: 40px;
    color: #252531;
    font-size: 30px;
    font-weight: 400;
}

.left_inner_collection .inner_content a.button {
    margin-top: 40px;
    width: 170px;
    height: 50px;
}

.button {
    font: 600 14px 'Poppins', arial, sans-serif;
    display: inline-block;
    background: #374d86;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 24px;
    border: 2px solid #374d86;
}

a {
    color: #666666;
    text-decoration: none;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.left_inner_collection .inner_content a.button:hover{
    background:#fab757;
    border:#fab757;
    color:#000;
}

.zero_padding{
    padding:0;
}

.video-container{
    height: -webkit-fill-available;
    height: fill;
}

.owl-nav div:hover {
    background: #1590c5;
    color: #fff;
    border-color: #fab757;
}

/* Video part ends */

/* flipbox starts */
.service_flipbox {
    position: relative;
    color: #fff;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-bottom: 30px;
    cursor: pointer;
}
.service_flipbox .flipbox_font {
    background: #fff;
}

.service_flipbox .flipbox_font, .service_flipbox .flipbox_back {
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    min-height: 300px;
    height: auto;
    -webkit-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
}

.service_flipbox .flipbox_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #1590c5;
    border-radius: 2px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.service_flipbox .inner_flip {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    border-radius: 2px;
    outline: transparent solid 1px;
    -webkit-perspective: inherit;
    perspective: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    z-index: 2;
    text-align: center;
    padding: 20px;
}

.service_flipbox .flipbox_font .inner_flip h4 {
    color: #282828;
}

.service_flipbox .inner_flip h4 {
    font: 700 22px/26px "Raleway", sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
}

.service_flipbox .flipbox_font .inner_flip p {
    color: #8d8d8d;
}

.service_flipbox .inner_flip p {
    font: 400 14px/30px "open", sans-serif;
}

.service_flipbox .inner_flip a {
    font: 600 16px/22px "Raleway", sans-serif;
    color: #fff;
}


.service_flipbox:hover .flipbox_font {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.service_flipbox:hover .flipbox_back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.service_flipbox.img {
    vertical-align: middle;
    border: 0;
}


/* flipbox ends */

/*ERPSoftware Services Css Ends */


/* Contact Page start */
.con-i i.fa{
    color: #1590c5;
}

form.main-contact-form-contact input:focus {
    border: 1px solid #1590c5;
}

form.main-contact-form-contact textarea:focus{
    border: 1px solid #1590c5;
}

.contact-us.section-padding{
    padding: 50px 0 50px;
}

/* Contact Page ends */



/* ******************** INNER PAGES CSS ends *****************  */

/* mega menu revised changes starts */
.container-fluid.mega-menu.service-mm a:hover {
    padding-left: 9.4px !important;
    letter-spacing: 0;
}

.container-fluid.mega-menu.service-mm a:hover i{
    color:#bf7b07;
    font-weight: bolder;
}

.container-fluid.mega-menu.solution-mm a:hover{
    padding-left: 9.4px !important;
}
.container-fluid.mega-menu.solution-mm a:hover i{
    color:#bf7b07;
    font-weight: bolder;
}

.container-fluid.mega-menu.support-mm a{
    letter-spacing: 0.4px;
}

.container-fluid.mega-menu.support-mm a:hover{
    padding-left: 11px !important;
}
.container-fluid.mega-menu.support-mm a:hover i{
    color:#bf7b07;
    font-weight: bolder;
}

.container-fluid.mega-menu.service-mm{
    border-left: 1px dotted #374d86;
    border-right: 1px dotted #374d86;
}


/* mega menu revised changes ends */


/* Free Deom Modal Css Start */

.search-rapper-step2 {
    background: transparent;
    height: 0;
    left: 50%;
    position: fixed;
    top: 50%;
    width: 0;
    z-index: 0;
    opacity: -1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=-100)";
    filter: alpha(opacity=-100);
    visibility: hidden;
    -webkit-transition: all 0.34s cubic-bezier(0.47, 0, 0.745, 0.715);
    -moz-transition: all 0.34s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 0.34s cubic-bezier(0.47, 0, 0.745, 0.715); }
  
  .search-rapper-step2.active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    z-index: 9999999;
    visibility: visible;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: zoomIn 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
    -moz-animation: zoomIn 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
    -ms-animation: zoomIn 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
    animation: zoomIn 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
    background: rgba(47, 173, 185, 0.9); 
  }
  
/* Free Deom Modal Css ends */



